@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-size: 1rem;
  /* line-height: 24px; */
  font-weight: 400;

  color-scheme: light dark;
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*::-webkit-scrollbar{
  display: none;
}
@font-face {
  font-family: myfont;
  src: url(./assets/ProductSansRegular.ttf);
}
@font-face {
  font-family: myboldfont;
  src: url(./assets/ProductSansBold.ttf);
}

*{
  font-family: myfont, sans-serif;
  font-size: 17px;
}
.bold{
  font-family: myboldfont, sans-serif;
}




@layer base {
  body {
    @apply text-grey bg-white;
  }
  section {
    @apply py-[35px] lg:py-[50px];
  }
  .pad{
    @apply px-[1.5rem] md:px-[3rem] lg:px-[6rem];
  }
  button{
    @apply py-3 border px-6 rounded-2xl border-primary;
  }
}